<!DOCTYPE html>
<html>

<head>
  <title> Destroy!!! </title>

  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

  <div class="game">
    <div class='punisher-attacked'>
      <h1> <%= @game.punisher.name.capitalize %> attacked <%= @game.sufferer.name.capitalize %> ! </h1>
      <h1> <%= @game.sufferer.name.capitalize %> : <%= @game.sufferer.hp_points %> </h1>

      <% if @game.sufferer.hp_points <= 0 %>
      <h1><%= @game.sufferer.name.capitalize %>: you lose </h1>
      <img src="/css/images/KO.jpeg"></img>
      <% else %>
      <img src="/css/images/fight.jpg"></img>
      <% end %>
    </div>

      <form action='/play' method='get'>
        <input class="hit-button button" type="submit" value="Next">
      </form>
  </div>

  <footer>
      <h4>Start again, back <a href='/'>home.</a></h4>
  </footer>

</body>
</html>
