<!DOCTYPE html>
<html>

<head>
  <title>
  </title>

  <!-- <meta http-equiv="refresh" content="4; URL='/play'"/> -->
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

  <div>
    <h1> <%= @game.punisher.name.capitalize %> attacked <%= @game.sufferer.name.capitalize %> !! </h1>
    <h1> <%= @game.sufferer.name.capitalize %> : <%= @game.sufferer.hp_points %> </h1>
  </div>

  <% if @game.sufferer.hp_points <= 0 %>
  <h1><%= @game.sufferer.name.capitalize %>: you lose </h1>
  <% end %>

  <div class="hit_button">
    <form action='/play' method='get'>
      <input class="button" type="submit" value="Next">
    </form>
  </div>

</body>

</html>
